.line{
    display: flex;
    text-align: center;
    position: fixed;
    top:40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lineUp{
    width: 100%;
}

.homeScreenH1{
    font-size: 7vh;
    -webkit-font-smoothing: antialiased;
    animation: 3s anim-lineUp ease-out;
}

.clockDiv{
  -webkit-font-smoothing: antialiased;
    animation: 5s anim-lineUp ease-out;
}

@keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  } 




